main {
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN CONTENT =============== */
main  {
    display: flex;
    flex-direction: column;

    
}
main  p{
    text-align: center;
    font-size: 1.1em;

}

main  h1 {
    margin-bottom: 2%;
    margin-right: auto;
    font-size: 2.2em;
    text-align: center;    
}







