main {
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN CONTENT =============== */
main  {
    display: flex;
    flex-direction: column;

    
}
main  p{
    text-align: center;
}

main  h1 {
    margin-bottom: 2%;
    margin-right: auto;
    font-size: 2.2em;
    text-align: center;    
}



main  .bios p {
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
}

main .bios figure, h2{
    display: inline-block;
    margin-right: 200;
    justify-content: space-between;

}

main  figure{
 width:10px;
}



main .contacts{
    justify-content: space-between;
}

main .bios img{
    border-radius: 50%; 
    width: 140px;
    height: 140px;
}